

.App {
  display: grid;
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.row.no-pad {
  margin-right:0;
  margin-left:0;
}
.row.no-pad > [class*='col-'] {
  padding-right:0;
  padding-left:0;
}

.main-app {
  max-width: 1400px;
  margin: 0 auto;
}

.snip {
  background-color: #feffd0;
  display: flex;
  margin-bottom: 20px;
  margin-left: 20px;
  margin-right: 20px;
}

.snip:first-child {
  margin-top: 10px;
}


.embedded-song {
  flex: 2;
  border: 1px solid black;  
  /*height: 100px;*/
  /*position: absolute;*/
  /*clip: rect(0, 10px, 5px, 2px)*/
}

.user-info {
  flex: 2;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border: 1px solid black;
}

.description {
  flex: 1;
  border: 1px solid black;
  display: flex;
}
.user-info-container-1 {
  flex-basis: 25%;
  display: flex;
}
.user-info-id {
  flex: 1;
  display: flex;
}

.user-info-likes {
  flex: 1;
  display: flex;
}

.user-info-action-like {
  /*background-color: rgba(100, 100, 255, 0.9);*/
  background-color: red;
  flex-basis: 25%;
  display: flex;
}
.user-info-action-like:hover {
  background-color: #C64040;
}

.user-info-action-dislike {
  background-color: #4CD138;
  flex-basis: 25%;
  display: flex;
}
.user-info-action-dislike:hover {
  background-color: #88DA7B;
}

.user-info-time {
  flex-basis: 25%;
  display: flex;
}

.user-info-text {
  margin: auto;
  text-decoration: none;
  color: black;
}